* text=auto

/tests             export-ignore
/.github           export-ignore
.editorconfig      export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
phpunit.xml.dist   export-ignore
README.md          export-ignore
docgen.php         export-ignore
rector.php         export-ignore
